.header {
    display: flex;
    justify-content: space-between;
    border: 1px solid black;
}

.logo {
    width: 200px
}

.nav-items > ul {
    display: flex;
    list-style-type: none;
    padding: 10px 20px;
    font-size:24px;
}

.nav-items > ul > li {
    padding:10px;
    margin: 10px;
}

.res-card {
    width: 200px;
    height: 300px;
   cursor: pointer;
    padding: 5px;
background-color: #f7f2f2;
}
.res-card:hover {
    border: 1px solid black;
}

.card-img {
width: 100%;

}

.search {
    padding: 10px;

}